//MMRDA color config
$main_clr:    #1d2473;
$main_textClr:white;
$sec_textClr: #ffffff;

$white:       #ffffff;
$main_wrap:   #ffffff;
$inputClr:    rgba(25, 32, 102, 0.6);
$shadow1:     rgb(25, 32, 102);
$shadow2:     rgb(49, 58, 150);

$plotClr:     #D0F0DF;
$plotClr2:    #F1F4DD;
$midTrackClr: #F1F4DD;
$stnClr:      #b1b1b169;
$stnTag:      #08A59A;
$div_dot:     #068388;
$fill_chang:  #068388;
$fill-slide:  rgb(0, 184, 212);

$navLink:     #1f2b7b;
$dgna_bg:     #232a77;
$dgna_font:   rgb(255, 255, 255);
$dg_unattach: #232a77b0;
$dg_attach:   #232a77b0;

$bg_active:   rgb(32, 40, 123);
$bg_clr:      #1f2b7b;
$wrap:        #30368f;

$btn_rgba:    rgba(63, 80, 166, 0.2);
$btn_rgba_3:  rgba(63, 80, 166, 0.35);
$btn_rgba_dis:#3f50a6;
$btn_rgba_act:#3f50a6;
$btn_rgba_foc:#7d8bce;

$el-m-light :   #33f8f1;
$el-m-dark:     #07beb8;
$el-m-darker:   #1d24739d;
$el-m-dark2 :   #06a5a0;
$bg-dark :      #121212;

$btn_prior: #9ceaef;
$btn_prior_act:#86e5eb;
$btn_prior_foc:#f4fdfd;

$tabClr: #1D2473;
$tabsClr: #263A5B;

$pill-tab-act: #0080ff;

$btn-rgba:           rgba(7, 190, 184, 0.2);
$btn-rgba-dark:      rgba(7, 190, 184, 0.35);
$btn-rgba-suc:       rgba(46, 158, 121, 0.4);   //success rgba
$btn-rgba-hvr:       rgba(46, 158, 121, 0.3);   //hover rgba button
$btn-rgba-dngr:      rgba(224, 0, 60, 0.4);     //rgba danger button
$btn-rgba-dngr-hvr:  rgba(224, 0, 60, 0.3);    //rgba danger button
$btn-rgba-warn:      rgba(255, 155, 84, 0.4);   //rgba warning
$btn-rgba-warn-hvr:  rgba(255, 155, 84, 0.3);   //warn hover

$row-even :  #232a77af;
$row-hov:    #192069;
$row-text:   $white;
