// NAGPUR
$main_clr:    #ffb01f;
$main_textClr:#121212;
$sec_textClr: #ffffff;

$white:       #ffffff;
$main_wrap:   #474747;
$inputClr:    rgba(2,2,2,0.28);
$shadow1:     rgb(33, 33, 33);
$shadow2:     rgb(66, 66, 66);

$plotClr:     #FFEBC8 ;
$plotClr2:    #FFD78D;
$midTrackClr: #FFEBC8 ;
$stnClr:      #ffc14d61;
$stnTag:      #7a6236;
$div_dot:     #8A98AC;
$fill_chang:  #8A98AC;
$fill-slide:  #e7efc5;

$navLink:     #1d2473;
$dgna_bg:     #ffb01f;
$dgna_font:   #121212;
$dg_unattach: rgba(255,176,31,0.7);
$dg_attach:   #ffb01f;

$bg_active:   rgb(18, 18, 18);
$bg_clr:      #121212;
$wrap:        rgba(255, 255, 255, 0.07);

$btn_rgba:    rgba(255, 193, 77, 0.4);
$btn_rgba_3:  rgba(255, 193, 77, 0.3);
$btn_rgba_dis:#ffc14d;
$btn_rgba_act:#ffb834;
$btn_rgba_foc:#ffe5b3;

$el-m-light :   #ffd485;
$el-m-dark:     #ffb01f;
$el-m-darker:   #eb9800;
$el-m-dark2 :   #ffa706;
$bg-dark :      #121212;

$btn_prior: #ffc14d;
$btn_prior_act:#ffb834;
$btn_prior_foc:#ffe5b3;

$tabClr:  #121212;
$tabsClr: #ffffff;

$pill-tab-act: $main_clr;

$btn-rgba:           rgba(255, 176, 31, 0.4);
$btn-rgba-dark:      rgba(255, 176, 31, 0.3);
$btn-rgba-suc:       rgba(46, 158, 121, 0.4);   //success rgba
$btn-rgba-hvr:       rgba(46, 158, 121, 0.3);   //hover rgba button
$btn-rgba-dngr:      rgba(224, 0, 60, 0.4);     //rgba danger button
$btn-rgba-dngr-hvr:  rgba(224, 0, 60, 0.3);    //rgba danger button
$btn-rgba-warn:      rgba(255, 155, 84, 0.4);   //rgba warning
$btn-rgba-warn-hvr:  rgba(255, 155, 84, 0.3);   //warn hover

$row-even : #121212;
$row-hov:   #ffb020;
$row-text:  #121212;