@import "theme";

.sub-menu{
  position: relative;
  background: #f7f7f7;
  a{
    // padding-bottom: 22px !important;
    color: #666666 !important;
    &.active{
      color: $orange !important;
      border-color: $orange !important;
      border-width: 4px !important;
    }
    &.item{
      font-size: 17px;
    }
  }
  .search{
    position: absolute;
    right: 5px;
    top: 3px;
    input{
      background: #fcfcfc;
    }
  }
  &.location{
    margin-bottom: -16px;
  }
}