$active-primary: #4a90e2;
$orange: #f1992b;
$marker-color: #68b128;
$heading-green: #4b9a4a;
$dark-grey: #484848;

$orange: #f09922;
$green: #56af22;
$red: #ea4f4b;
$blue: #4a90e2;
$light-black: #1b1c1d;